name: Deploy Preview
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  request_preview_canister:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v3
      - uses: actions/github-script@v6
        with:
          script: |
            const comments = require('./.github/workflows/scripts/comments.js');
            const maybeComment = await comments.get(context, github);
            if (maybeComment) {
              comments.update(context, github, maybeComment.id,  ` Your PR preview is being built...`);
            } else {
              comments.create(context, github, ` Your PR preview is being built...`);
            }
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: |
          echo "Ref: $GITHUB_REF"

          pull_number=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
          pip install ic-py
          canister_id=$(python3 .github/workflows/scripts/request-canister.py $pull_number)
          echo "{\"frontend\":{\"ic\":\"$canister_id\"}}" > canister_ids.json
          sh -ci "$(curl -fsSL https://internetcomputer.org/install.sh)"

          echo "PREVIEW_CANISTER_ID=$canister_id" >> $GITHUB_ENV

          mkdir ~/.config/dfx
          mkdir ~/.config/dfx/identity
          mkdir ~/.config/dfx/identity/default
          echo $DFX_IDENTITY_PREVIEW | base64 -d > ~/.config/dfx/identity/default/identity.pem
          sed -i 's/\\r\\n/\r\n/g' ~/.config/dfx/identity/default/identity.pem

          intentional_error

          dfx deploy --network=ic --no-wallet frontend

        env:
          DFX_IDENTITY_PREVIEW: ${{ secrets.DFX_IDENTITY_PREVIEW }}
          POOL_CANISTER_ID: ${{ secrets.POOL_CANISTER_ID }}
          GITHUB_REF: ${{ github.ref }}
      - uses: actions/github-script@v6
        with:
          script: |
            const comments = require('./.github/workflows/scripts/comments.js');
            const maybeComment = await comments.get(context, github);
            if (maybeComment) {
              comments.update(context, github, maybeComment.id,  ` Here's your preview: https://${process.env.PREVIEW_CANISTER_ID}.ic0.app`);
            } else {
              comments.create(context, github, ` Here's your preview: https://${process.env.PREVIEW_CANISTER_ID}.ic0.app`);
            }
      - uses: actions/github-script@v6
        if: steps.run.outputs.status != '0'
        with:
          script: |
            const comments = require('./.github/workflows/scripts/comments.js');
            const maybeComment = await comments.get(context, github);
            if (maybeComment) {
              comments.update(context, github, maybeComment.id,  ` Preview build failed.`);
            } else {
              comments.create(context, github, ` Preview build failed.`);
            }
